*{
   box-sizing: border-box;
}

a {
   text-decoration: none;
  }

  a:visited {
   color: inherit;
} 

.app {
   padding-top: 50px;
   max-width: 1000px;
   background-color: #f7f7ff;
   margin: 0 auto;
}

.container {
   max-width: 850px;
   margin: 0 auto;
   background-color: #fff;
   border-radius: 50px;
   padding: 0 50px;
}
