.busket-item-block {
   display: flex;
   justify-content: space-between;
}

.busket-item__img {
   width: 75px;
   height: 75px;
   background-repeat: no-repeat;
   background-size: contain;
}

.busket-item__info {
   width: 200px;
}

.busket-item__name {
}

.busket-item__descr {
}

.busket-item__calc-block {
   border: 1px solid gray;
   width: 50px;
   height: 30px;
   display: flex;
   justify-content: space-between;
   cursor: pointer;
}

.busket-item__minus{
  
   }


.busket-item__plus{

}

.busket-item__count{
   width: 30px;
}

.busket-item__price {
}

.busket-item__result{
   width: 120px;
}
